n8n-smartplans-workflow.json
{
  "name": "SmartPlans AI Assessment Generator (KindTide -> n8n)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kindtide-smartplan-webhook",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (Receive Transcript)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "smartplan-hook-123"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI assistant for KindTide Care Management System.\n\nPlease review the following care consultation transcript and extract a formatted Care Plan containing the following sections formatted as JSON:\n\n1. needsAssessment (Focusing on Administrative, Finances, Advanced Directive, Will)\n2. assessmentSummary (A 2-4 sentence summary of outcomes and needed support)\n3. tasks (A list of specific tasks the caregiver needs to perform with frequency, e.g. \"Assist to manage finances\", \"Weekly - Mon\")\n4. risks (A list of identified risks and mitigations, e.g. \"Loss of independence\")\n\nReturn EXACTLY a valid JSON object matching the requested schema.",
              "role": "system"
            },
            {
              "message": "Transcript: {{$json.body.transcript}}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "2",
      "name": "OpenAI (Generate Plan)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Receive Transcript)": {
      "main": [
        [
          {
            "node": "OpenAI (Generate Plan)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (Generate Plan)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f907beac-23d5-4a7b-a259-2e06f23f05ce"
}
